In [9]:
for city in ['tokyo3', 'osaka3', 'hokkaido3', 'okinawa3', 'ishikawa3', 'kyoto3']:
    df_traj = pd.read_csv(f'./data/{city}/traj-{city}.csv')
    with open(f'/home/yamanishi/project/airport/src/analysis/route_recommendation/data/{city}/fold_data.pkl', 'rb') as f:
        fold_data = pickle.load(f)

    df_traj['reviewID'] = np.arange(len(df_traj))
    reviewIDs = []
    reviews = []
    for i in range(5):
        data = fold_data[i]['test']
        for traj in data:
            reviews.extend(traj['review'])
    df_traj = df_traj.loc[:, ~df_traj.columns.str.contains('Unnamed')]
    df_traj.to_csv(f'./data/{city}/traj-{city}.csv')
    review_df = pd.DataFrame({'review': reviews, 'reviewID': np.arange(len(reviews))})
    review_df.to_csv(f'./data/{city}/review.csv')
    print(len(df_traj), len(reviews))

50563 50563
32452 32452
48894 48894
35162 35162
12830 12830
20419 20419

In [1]:
df_traj = pd.read_csv('./data/hokkaido3/traj-hokkaido3.csv')
len(df_traj)

48894

In [4]:
df_traj.head(30)

,Unnamed: 0,userID,trajID,poiID,startTime,endTime,#photo,trajLen,poiDuration
0,0,user_1,0,26,1732615200,1732618800,-1,3,-1
1,1,user_1,0,46,1732618800,1732622400,-1,3,-1
2,2,user_1,0,118,1732622400,1732626000,-1,3,-1
3,3,user_5,3,32,1732626000,1732629600,-1,3,-1
4,4,user_5,3,119,1732629600,1732633200,-1,3,-1
5,5,user_5,3,273,1732633200,1732636800,-1,3,-1
6,6,user_13,8,19,1732636800,1732640400,-1,3,-1
7,7,user_13,8,176,1732640400,1732644000,-1,3,-1
8,8,user_13,8,356,1732644000,1732647600,-1,3,-1
9,9,user_15,10,0,1732658400,1732662000,-1,4,-1
10,10,user_15,10,18,1732662000,1732665600,-1,4,-1
11,11,user_15,10,65,1732665600,1732669200,-1,4,-1
12,12,user_15,10,100,1732669200,1732672800,-1,4,-1
13,13,user_21,14,13,1732687200,1732690800,-1,5,-1
14,14,user_21,14,24,1732690800,1732694400,-1,5,-1
15,15,user_21,14,33,1732694400,1732698000,-1,5,-1
16,16,user_21,14,67,1732698000,1732701600,-1,5,-1
17,17,user_21,14,118,1732701600,1732705200,-1,5,-1
18,18,user_23,19,24,1732723200,1732726800,-1,6,-1
19,19,user_23,19,33,1732726800,1732730400,-1,6,-1
20,20,user_23,19,115,1732730400,1732734000,-1,6,-1
21,21,user_23,19,34,1732734000,1732737600,-1,6,-1
22,22,user_23,19,35,1732737600,1732741200,-1,6,-1
23,23,user_23,19,69,1732741200,1732744800,-1,6,-1
24,24,user_33,29,9,1732766400,1732770000,-1,7,-1
25,25,user_33,29,284,1732770000,1732773600,-1,7,-1
26,26,user_33,29,23,1732773600,1732777200,-1,7,-1
27,27,user_33,29,28,1732777200,1732780800,-1,7,-1
28,28,user_33,29,173,1732780800,1732784400,-1,7,-1
29,29,user_33,29,8,1732784400,1732788000,-1,7,-1

In [2]:
import pickle
with open('/home/yamanishi/project/airport/src/analysis/route_recommendation/data/hokkaido3/fold_data.pkl', 'rb') as f:
    fold_data = pickle.load(f)

In [5]:
fold_data[0]['test'][:5]

[{'trajID': 0,
  'userID': 1,
  'poi_sequence': [26, 46, 118],
  'poi_original': ['白い恋人パーク', '札幌ドーム', '札幌市時計台'],
  'times': [-1, -1, -1],
  'start_poi': 26,
  'end_poi': 118,
  'review': ['館内では、お菓子作りが体験できます。土日は混むので予約した方がいいと思います。チョコレートのおうち作りとクッキー作りがうちの子は気に入ってました。お持ち帰り用に、ちゃんと袋に入れてくれます。',
   'ファミリーデーは、試合修了後にグランドに下りる事ができるので、子供達は大喜びでした。BBやポリーちゃんとも写真撮影できます。',
   '夜のお散歩にオススメです。ライトアップされてて、昼より素敵にみれます。すぐ近くに大通り公園とテレビ塔もあるのて、一緒に見物できます。'],
  'gender': '女性',
  'age': '30代',
  'group': '家族',
  'visit_time': [Timestamp('2014-08-01 00:00:00'),
   Timestamp('2014-08-01 00:00:00'),
   Timestamp('2014-08-01 00:00:00')],
  'trajLen': 3,
  'other_review': [],
  'other_poi': []},
 {'trajID': 3,
  'userID': 5,
  'poi_sequence': [32, 119, 273],
  'poi_original': ['ファーム富田', '富良野チーズ工房', '深山峠アートパーク'],
  'times': [-1, -1, -1],
  'start_poi': 32,
  'end_poi': 273,
  'review': ['入場無料は嬉しいですね。花畑も可也広くなりその他の施設も増えましたね。ただ、その所為か場内の細い道を原付バイクで移動するスタッフには驚きました。丁度雨の日でしたが同行の姉に泥水を跳ねて行ってしまいました。スタッフも平均愛想が良くないかな？有名になった弊害が現れて来ているかもしれません。他にもラベンダー畑はありますから其方を探した方が良いかもしれませんよ。',
   '小さな工場です。隣にはピザを提供する部門とアイスクリームの店舗があります。結構混んでいたので２階の売店での対応が忙しそうでした。レジの並び方を考えた方が良いかも知れません。又、メインのチーズの陳列棚が狭くゆっくり見る事が出来ませんでした。折角のチーズ工場なのに休日の為か工場は停止中。周りの環境が素晴らしいだけに勿体無い感じがします。',
   '老若男女誰でも楽しめる美術館です。作品に触れられて写真も写せるのは嬉しいですね。ただ入館料が若干高目かな？併設の観覧車もお天気が良ければ楽しそうです。人間の目ってこんなに騙されるんだと実感できます。建物の外観に描かれた窓なども必見ですね。旭川の動物園へ行ったら序でに如何ですか？ファーム富田からも近いですよ。'],
  'gender': '男性',
  'age': '50代',
  'group': nan,
  'visit_time': [Timestamp('2009-07-19 00:00:00'),
   Timestamp('2009-07-19 00:00:00'),
   Timestamp('2009-07-19 00:00:00')],
  'trajLen': 3,
  'other_review': [],
  'other_poi': []},
 {'trajID': 8,
  'userID': 13,
  'poi_sequence': [19, 176, 356],
  'poi_original': ['小樽運河', '小樽青の洞窟\u3000龍宮クルーズ', '北一ヴェネツィア美術館'],
  'times': [-1, -1, -1],
  'start_poi': 19,
  'end_poi': 356,
  'review': ['夫と旅行で行きました。小樽から車で向かいましたが、ナビが案内してくれた駐車場からはわりと近く、運河まで徒歩5分程度でした。ガイドブックなどでよく見る運河の景色は、やっぱり現地に行かないと分かりませんね！旅行の都合でお昼の時間帯になりましたが、お昼でも雰囲気があってイイですよ！',
   '夫と旅行で行きました。小樽の街を一周し、そろそろ帰ろうかと思ったとき！クルージングの写真を持った人が。説明を聞いて、即決(笑)一人6000円。15:00～のクルーズを予約しました。お客さんが6名で、屋根つきのクルーザーでした。真夏には屋根つきが助かりますね！潮風を感じながら大波小波を超えて目的地へ！洞窟の中は幻想的でとってもキレイ！帰りのクルージングは少々寒かったですが、とーっても楽しかったですよ！6000円支払う価値があります！',
   '夫と旅行で行きました。お店の中は撮影禁止なので写真はありませんが、色々な種類のガラスや仮面があって面白かったです。特に、ガラスでできたペンは試し書きしてみましたが不思議な感覚で印象的です。'],
  'gender': '女性',
  'age': '30代',
  'group': 'カップル・夫婦',
  'visit_time': [Timestamp('2017-08-16 00:00:00'),
   Timestamp('2017-08-16 00:00:00'),
   Timestamp('2017-08-16 00:00:00')],
  'trajLen': 3,
  'other_review': ['夫と旅行で行きました。8月15日の昼間にいきましたが、山頂は涼しくて快適でした！本当は夜景を観たかったのですが、観光の順序がお昼になってしまったのが少し残念でしたが、お昼でも札幌の街を見渡せ、絶景でしたよ！',
   '夫と旅行で行きました。オリンピックで使用された施設という事もあり、オリンピックに関連した設備やマークなどが見受けられました。リフトで頂上に上がると、そこは真夏とは思えない涼しさ！そして何よりジャンプ台の迫力！ぜひ、階段で一番上まで登ってみて下さいね！高い所が苦手な方は、帰りの下りのリフトが少し怖いかもしれませんが、リフトには安全バーが付いているので安心して乗れますよ！',
   '夫と旅行で行きました。目的は大通公園のビアガーデンでしたが、テレビ塔はすぐそこに見えました。噴水越しのテレビ塔はライトアップされて雰囲気があり、良かったですよ！',
   '夫と旅行で行きました。草原が広がる中、羊が数頭放してありました。仔羊もいてかわいかったですよ！クラークさんとの写真撮影ですが、無料で撮影して頂けるサービスがあり、少し列に並んで撮って頂きました。向かって左側に立って撮りましたが、右側は自由に撮影できる場所と聞きました。カメラマンさんのカメラでも撮り、「羊が丘展望台」の枠を付けた写真を記念に購入する事もできます！',
   '夫と旅行で行きました。有名な場所なので名前は知っていたものの、予想以上に気づきにくく、一度通り過ぎました。。夜はライトアップされています。観光客が建物の前で絶え間なく撮影しているので、なかなか撮影できませんでしたが、撮れた写真はキレイでしたよ。',
   '夫と旅行で行きました。事前に調べた口コミで東門に駐車するといいとあったので東門にしました。9:30開門で10分前くらいに着きましたが、わりとスムーズでしかも門まで徒歩わずかの距離でした。当日帽子を忘れてしまったため日傘をさして回りましたが、やはりほかの方の邪魔になるので、帽子があると便利ですよ！オススメの撮影スポットは、やっぱり水槽の中のペンギンとアザラシ！ムービーで撮るとかわいいですよ！',
   '夫と旅行で行きました。当日まで行く予定はありませんでしたが、富良野方面にレンタカーで行くためナビにどうやって目的地を入れよう？という事で、出てきたチーズ工房を目指しました。行ってみるといくつかチーズの試食があります。奥には窯焼きで提供してくださるピザ！マルゲリータを頂きましたが、まぁ美味しい！ここに来たら、ピザは食べて欲しいですね！',
   '夫と旅行で行きました。札幌を観光し、ホテルに戻る前に札幌駅に隣接する、JR TOWER Observatory T38へ行きました。夜は22:30(最終入場)まで営業しているので、観光して戻ってきてもまだ行けます！ここではキレイな夜景を楽しめるだけでなく、お酒も飲めるので長居しちゃいます！'],
  'other_poi': [11, 62, 67, 103, 118, 1, 119, 340]},
 {'trajID': 10,
  'userID': 15,
  'poi_sequence': [0, 18, 65, 100],
  'poi_original': ['函館山', '五稜郭タワー', '金森赤レンガ倉庫', '函館自由市場'],
  'times': [-1, -1, -1, -1],
  'start_poi': 0,
  'end_poi': 100,
  'review': ['ここからの夜景は、よく知られている日本三大夜景の一つです。上まで車でも上れますが、夏場は交通規制があり冬場は通行止めになるので、ロープウェイで上るのが一般的です。',
   'エレベーターで最上階に上がると五稜郭公園の全体が見渡せます。五稜郭は星形をした城郭で、とても日本の城とは思えませんね。特に冬の雪景色や春の桜の季節の景観がお奨めです。最上階にはなぜか新撰組の土方才蔵の銅像などがあります。',
   '函館の赤レンガ倉庫を造り替え、ショッピング店やイベント会場にしたところです。レンガ造りの建物が港町にマッチして洒落た空間になっています。お土産屋さんやレストラン、ビヤホールなどがあり、時間つぶしには最適な場所です。',
   '海産物を買うのに函館駅近くの朝市はよく知られていますが、観光客向けの物産が観光客向けの値段で売られています。それに対し、ここは地元の人が行く台所的な市場です。'],
  'gender': '男性',
  'age': '60代',
  'group': '一人',
  'visit_time': [Timestamp('2013-03-01 00:00:00'),
   Timestamp('2013-03-01 00:00:00'),
   Timestamp('2013-03-01 00:00:00'),
   Timestamp('2013-03-01 00:00:00')],
  'trajLen': 4,
  'other_review': [],
  'other_poi': []},
 {'trajID': 14,
  'userID': 21,
  'poi_sequence': [13, 24, 33, 67, 118],
  'poi_original': ['大通公園', 'すすきの', '狸小路商店街', 'さっぽろテレビ塔', '札幌市時計台'],
  'times': [-1, -1, -1, -1, -1],
  'start_poi': 13,
  'end_poi': 118,
  'review': ['雪まつりで有名な大通公園、そうでなくても典型的な都会のオアシスだったりもします。ここに来ると札幌に来た気になるという場所。',
   '言わずもがなな大歓楽街「すすきの」。大人の街かと思えば必ずしもそういうわけではなく、大人要素も強い繁華街というか。女の人だと行きづらいなんてこともないので、冷やかしも楽しい。',
   '昨今は寂れたアーケード商店街が多いけれど、ここは元気。ドンキホーテがあるお陰か外国人も多く、何をするにも便利、たぶんここ周辺でいっぱいできると通なのかな。',
   '東京にも名古屋にもある、いわゆるテレビ塔ですが、雪景色が見られるのはここならではかと。降る雪を見るのも、雪の降った街を見るのもどちらも、東京や名古屋ではなかなか味わえない体験。',
   'がっかりスポットなんてよく言われますが、町のど真ん中にあることが、独自さを醸し出しているところもあり。SNS映えはしないかもですが、一度くらいは現物を見てほしい場所。'],
  'gender': '男性',
  'age': '20代',
  'group': '一人',
  'visit_time': [Timestamp('2015-01-01 00:00:00'),
   Timestamp('2015-01-01 00:00:00'),
   Timestamp('2015-01-01 00:00:00'),
   Timestamp('2015-01-01 00:00:00'),
   Timestamp('2015-01-01 00:00:00')],
  'trajLen': 5,
  'other_review': [],
  'other_poi': []}]

In [13]:
df = pd.read_csv('/home/yamanishi/project/airport/src/analysis/route_recommendation/BERT-Trip/BERT_Trip/results/bert_trip_ishikawa3_12830_h768_l_8_head8_0.15_results.csv', 
                 sep='|',names=['dataset', 'model_name', 'train_size', 'test_size',
                                'fold', 'date', 'random_state', 'f1_score',
                                'best_epoch','results' ])#|{model_name}|{train_size}|{test_size}|{fold}|{date}|{random_state}|{f1_score:.4f}|{best_epoch}|{results}'])

In [14]:
df.head()

,dataset,model_name,train_size,test_size,fold,date,random_state,f1_score,best_epoch,results
0,ishikawa3,bert_trip_12830_0.15_one_by_one,2409,602,0,2024_12_07-09:30:05_PM,0,0.4092,0,"[{'expected': ['5', '7', '37'], 'predict': ['5..."
1,ishikawa3,bert_trip_12830_0.15_one_by_one,2409,602,2,2024_12_07-09:30:05_PM,0,0.4116,0,"[{'expected': ['5', '8', '19', '24', '37'], 'p..."
2,ishikawa3,bert_trip_12830_0.15_one_by_one,2409,602,3,2024_12_07-09:30:05_PM,0,0.3780,0,"[{'expected': ['17', '20', '34'], 'predict': [..."
3,ishikawa3,bert_trip_12830_0.15_one_by_one,2408,603,4,2024_12_07-09:30:05_PM,0,0.3643,0,"[{'expected': ['5', '9', '52'], 'predict': ['5..."

: